<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<br>

<p>
  <strong>TELEPHONES</strong>
</p>

<p>  
  <% @user.telephones.each_with_index do |tel, index| %>
    <% i ||= index+1 %>
    <br>
    <strong><%= "Telephone #{i}:" %></strong>
    <%= tel.number %>    
  <% end %>
</p>

<br>

<p>
  <strong>EXPERIENCES</strong>
</p>

<p>  
  <% @user.experiences.each_with_index do |exp, index| %>
    <br>
    <strong>Company:</strong>
    <%= exp.company %>
    <br>
    <strong>Period:</strong>
    <%= exp.period %>
    <br>
    <strong>Occupation:</strong>
    <%= exp.occupation %>
  <% end %>
</p>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
